<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Contacts
          <button 
          type="button" 
          class="btn btn-sm btn-success pull-right"
          routerLink="new">
            New Contact
          </button>
        </div>
        
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-12">
                <app-contact-item 
                  *ngFor="let c of contacts" 
                  [contact]="c">
                </app-contact-item>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>




